body { 
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.header {
    width: 550px;
    height: 63px;
    color: #75B79E;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin: 40px auto;
}

.game {
    margin: 0 120px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.cards {
    background-color: #A7E9AF;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px;
    box-sizing: border-box;
    position: relative;
    transition: all 1s;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: auto;
    left: auto;
    backface-visibility: hidden;
}

.card-turned {
    transform: rotateY(180deg);
}

.turned {
    transform: rotateY(-180deg);
}

.cards img {
    width: 100px;
    height: 100px;
}

@media (max-width: 935px) {
    .header {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 100vw;
    }
}